<ion-header>
  <ion-toolbar>
    <ion-title>
      Repositories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-searchbar [(ngModel)]="searchedRepositoryName"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="searchRepositories()">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item-sliding class="repository" *ngFor="let repository of repositories">
      <ion-item>
        <ion-thumbnail>
          <img [src]="repository.owner.avatar_url">
        </ion-thumbnail>

        <div class="repository__details">
          <ion-label class="repository__fullname">
            {{ repository.full_name }}
          </ion-label>
          <ion-text class="repository__owner">
            {{ repository.owner.login }}
          </ion-text>
        </div>
      </ion-item>
      <ion-item-options>
        <ion-item-option>
          <ion-icon name="arrow-redo"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
