.repository__iontitle {
  color: var(--ion-color-primary-contrast);
}

.repository {
  ion-thumbnail {
    --border-radius: 4px;
    padding: 4px;
  }

  &__fullname {
    font-weight: bold;
  }

  &__owner {
    font-size: 14px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
